<div class="container">
  <h2 class="text-center" id="title-registration-new">Sign up</h2>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <div class="name-container">
          <div class="first-name">
            <%= f.input :first_name, required: true %>
          </div>
          <div class="last-name">
            <%= f.input :last_name, required: true %>
          </div>
        </div>
        <%= f.input :email, required: true, autofocus: true %>
        <div class="password-container">
          <div class="password">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <div class="password-conf">
            <%= f.input :password_confirmation, required: true %>
          </div>
        </div>
      </div>

      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
