<div class="title-index-container">
<div class="title-index">
<h1 class="text-center" id="title-product-index">All the products</h1>
</div>
<div class="btn-index">
<% if policy(Prod).create? %>
  <%= link_to "Add a product", new_prod_path, class: "btn btn-primary btn-add", id:"button" %>
<% end %>
</div>
</div>
<div class="container">
<table class="index-table">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Size</th>
    <th>Other attributes</th>
    <th colspan="3">Prices</th>
  </tr>
<% @products.each do |product| %>
<tr>
  <td><% if policy(product).edit? %>
          <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, prod_path(product),
            method: :delete %></p>
  <% end %></td>
  <td><%= link_to product.name, prod_path(product) %></td>
  <td><%= product.size %></td>
  <% if product.meta.empty? %>
  <td>N/A</td>
  <% else %>
  <td><%= product.meta[:first]%>: <%= product.meta[:second] %></td>
  <% end %>
  <% prices = product.prices.collect %>
    <% prices = prices.sort_by {|cur| cur.currency} %>
    <% prices.each do |price| %>
  <td>  <%= price.value %> <%= price.currency %></td>
  <% end %>

<% end %>
</tr>
</table>
</div>


