<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= simple_form_for @product do |p| %>
        <%= p.input :name %>
        <%= p.input :size %>
        <%#= p.simple_fields_for :meta do |f| %>
          <%#= @product.meta.each do |k,v| %>
        <!--   Add an attribute type: --> <%#= f.input k.to_sym %>
          <!-- Add an attribute: --> <%#= f.input v.to_sym %>
          <%# end %>
        <%# end %>
        <p> Add an attribute type:
        <input name="prod[meta][first]" type="text" /></p>
        <p> Add an attribute:
        <input name="prod[meta][second]" type="text" /></p>
        <%= p.simple_fields_for :prices do |pr| %>
          <%= pr.input :value %>
          <%= pr.input :currency, collection: ["dollars", "euros", "pounds"], as: :select %>
        <% end %>
        <%= p.submit "Add a product", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
