<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <table>
      <tr>
          <th>Name</th>
          <th>Size</th>
          <th colspan="3">Prices</th>
      </tr>
      <tr>
      <td><%= @product.name %></td>
        <td><%= @product.size %></td>
        <% @prices.each do |price| %>
        <td><%= price.value %> <%= price.currency %></td>
        <td><%#= @product.prices.collect { |a| a.currency }.join %></td>
        <% end %>
      </tr>
      </table>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h2>Add a new price</h2>
      <%= simple_form_for [@product, @price] do |pr| %>
        <%= pr.input :value %>
        <%= pr.input :currency, collection: ["dollars", "euros", "pounds"], as: :select %>
        <%= pr.submit "Add a price", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

</div>
