<div class="title-index-container">
<div class="title-index">
<h1 class="text-center" id="title-product-index"><%= "#{@product.name}" %></h1>
</div>
<div class="btn-index">
<% if policy(@product).edit? %>
  <%= link_to "Edit the product", edit_prod_path, class: "btn btn-primary", id:"btn-edit"  %>
<% end %>
</div>
</div>

<div class="container">
  <!-- <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4"> -->
      <table class="show-table">
      <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Other attributes</th>
          <th colspan="3">Prices</th>
      </tr>
      <tr>
        <td><% if policy(@product).edit? %>
          <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, prod_path(@product),
            method: :delete %>
            <% end %>
            </td>
        <td><%= @product.name %></td>
        <td><%= @product.size %></td>
        <% if @product.meta.empty? %>
          <td>N/A</td>
        <% else %>
          <td><%= @product.meta["1"]%>: <%= @product.meta["2"] %></td>
        <% end %>
        <% @prices.each do |price| %>
        <td><%= price.value %> <%= price.currency %>
          <% if policy(@product).edit? %>
          <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, price_path(price.id),
            method: :delete %></p></td>
        <td><%#= @product.prices.collect { |a| a.currency }.join %></td>
        <% end %>
        <% end %>
      </tr>
      </table>
 <!--    </div> -->
    <!-- </div> -->
  </div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if policy(@product).edit? %>
          <h2>Add a new price</h2>
  <%= simple_form_for [@product, @price] do |pr| %>
    <%= pr.input :value %>
    <%= pr.input :currency, collection: ["dollars", "euros", "pounds"], as: :select %>
    <div class="btn-show">
    <%= pr.submit "Add a price", class: "btn btn-primary btn-add-price" %>
  <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if current_user.admin? %>
          <h2>Add an attribute</h2>
          <%= simple_form_for @product do |p| %>
            <%= p.simple_fields_for :meta, OpenStruct.new(@product.meta) do |attr| %>
            <%= attr.input "1", :label => "Existing attribute type:" %>
              <%= attr.input "2", :label => "Existing attribute:" %>
              <%= attr.input "#{@product.meta.keys.last.to_i + 1}".to_sym, :label => "Add an attribute type:" %>
              <%= attr.input "#{@product.meta.keys.last.to_i + 2}".to_sym, :label => "Add an attribute:" %>
            <% end %>

    <div class="btn-show">
    <%= p.submit "Add an attribute", class: "btn btn-primary btn-add-price" %>
      <% end %>
       <% end %>
      </div>
    </div>
  </div>
</div>

</div>
