<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <table>
      <tr>
          <th>Name</th>
          <th>Size</th>
      </tr>
      <tr>
      <td><%= @product.name %></td>
        <td><%= @product.size %></td>
        <td><%#= @product.prices.collect { |a| a.value }.join %></td>
        <td><%#= @product.prices.collect { |a| a.currency }.join %></td>
      </tr>
      </table>
    </div>
  </div>

<div class="container">
  <h2>Prices</h2>
  <% @prices.each do |price| %>
  <ul>
    <li><%= price.value %> <%= price.currency %></li>
  </ul>
  <% end %>

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h1>Add a new price</h1>
      <%= simple_form_for [@product, @price] do |pr| %>
         <%= pr.input :currency, collection: ["dollars", "euros", "pounds"], as: :select %>
          <%= pr.input :value %>
        <%= pr.submit "Add a price", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% @products.each do |product| %>
  <% if policy(product).edit? %>
    <%= link_to "Update", edit_product_path(product) %>
  <% end %>
<% end %>
</div>

</div>
