<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <table>
      <tr>
          <th>Name</th>
          <th>Size</th>
          <th colspan="3">Prices</th>
      </tr>
      <tr>
      <td><%= @product.name %></td>
        <td><%= @product.size %></td>
        <% @prices.each do |price| %>
        <td><%= price.value %> <%= price.currency %></td>
        <td><%#= @product.prices.collect { |a| a.currency }.join %></td>
        <% end %>
      </tr>
      </table>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% @products.each do |product| %>
        <% if policy(product).edit? %>
          <%= render 'add' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

</div>
